<% include partials/head %>


  <header>
    Visit <a href="/server" >host.musicserve.com</a> to start a server.
  </header>

  <body ng-controller="ClientController as clientCtrl">

    <br>

    <section id="startbox" ng-hide="clientCtrl.isConnected">

      <span>{{clientCtrl.connectMessage}}</span>

      <form name="hostConnect" ng-submit="hostConnect.$valid && clientCtrl.connect()" novalidate>

        <input type="text" ng-model="clientCtrl.hostName" required />

        <input type="submit" value="Connect" />

      </form>

      <span>.. or <a href="/server">host a server</a>.</span>
    </section>






    <form ng-show="clientCtrl.isConnected" name="songSeachForm" ng-submit="clientCtrl.musicSearch()" novalidate>

      <input type="text" ng-model="clientCtrl.searchText" placeholder="Seach Soundcloud..." />

      <input type="submit" value="Search" />


    </form>

    <ul>
      <li ng-repeat="song in clientCtrl.searchResults">

        <img ng-src={{song.artwork_url}} />
        <span class="song-title">{{song.title}}</span>

        <a ng-click="clientCtrl.addSong(song)">Add Song</a>

      </li>
    </ul>


  </body>

</html>
