<% include partials/head %>

  <body ng-controller="ClientController as clientCtrl">

    <header>
      <h1 ng-class="{minititle:clientCtrl.isConnected}">
        Music Server
      </h1>
    </header>


    <section id="startbox" ng-hide="clientCtrl.isConnected">

      <p>
        Connect to a server:
      </p>

      <form name="hostConnect" ng-submit="hostConnect.$valid && clientCtrl.connect()" autocomplete="off" novalidate>
        <span class="serverMessage">{{clientCtrl.connectMessage}}&nbsp;</span>

        <input id="hostform" type="text" ng-model="clientCtrl.hostName" placeholder="{{clientCtrl.searchPlaceholder}}" autocomplete="off" ng-focus="clientCtrl.togglePlaceholder()" ng-blur="clientCtrl.togglePlaceholder()" required />

        <input type="image" value="Submit" src="/images/connect.png" />

      </form>

      <p>...or <a href="/server">host</a> your own.</p>
    </section>






    <form ng-show="clientCtrl.isConnected" name="songSeachForm" ng-submit="clientCtrl.musicSearch()" novalidate>

      <input id="soundsearch" type="text" ng-model="clientCtrl.searchText" placeholder="Seach Soundcloud..." />

      <input type="submit" value="Search" />


    </form>

    <ul>
      <li ng-repeat="song in clientCtrl.searchResults">

        <img ng-src={{song.artwork_url}} />
        <span class="song-title">{{song.title}}</span>

        <a ng-click="clientCtrl.addSong(song)">Add Song</a>

      </li>
    </ul>

    <footer>
      <nav>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </nav>
    </footer>


  </body>

</html>
