<% include partials/head %>

  <body ng-controller="ClientController as clientCtrl">

    <main>
      <header>
        <h1 ng-class="{minititle:clientCtrl.isConnected}">
          Music Drop
        </h1>
      </header>
        <form ng-show="clientCtrl.isConnected" name="songSearchForm" ng-submit="songSearchForm.$valid && clientCtrl.musicSearch()" autocomplete="off" novalidate>
          <section id="searchbox">

            <input type="text" ng-model="clientCtrl.searchText" placeholder="{{clientCtrl.searchPlaceholder}}" ng-focus="clientCtrl.togglePlaceholder()" ng-blur="clientCtrl.togglePlaceholder()" required />

            <input class="soundsearch" type="image" value="Submit" src="/images/search.png" />
          </section>
        </form>

      <section id="startbox" ng-hide="clientCtrl.isConnected">

        <p>
          Connect to a Server
        </p>

        <form name="hostConnect" ng-submit="hostConnect.$valid && clientCtrl.connect()" autocomplete="off" novalidate>
          <span class="serverMessage">{{clientCtrl.connectMessage}}&nbsp;</span>

          <input type="text" ng-model="clientCtrl.hostName" placeholder="{{clientCtrl.hostPlaceholder}}" autocomplete="off" ng-focus="clientCtrl.togglePlaceholder()" ng-blur="clientCtrl.togglePlaceholder()" required />

          <input class="connect" type="image" value="Submit" src="/images/connect.png" />

        </form>

        <p>...or <a href="/server">host</a> your own.</p>
      </section>




      <ul id="searchresults">
        <li ng-repeat="song in clientCtrl.searchResults">
          <img ng-src={{song.artwork_url}} />
          <p class="songtitle">{{song.title}}</p>
          <p class="songartist">{{song.user.username}}</p>



          <a ng-click="!song.sent && clientCtrl.addSong(song)"><img ng-src={{song.sendThumbnail}} /></a>

        </li>
      </ul>

    </main>

    <footer>
      <a href="http://soundcloud.com/"><img src="/images/powered_by_sc_thin.png" /></a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </footer>


  </body>

</html>
