<% include partials/head %>



  <body ng-controller="ServerController as serverCtrl">

    <main>
      <header>
        <h1 class="minititle">
          Music Drop
        </h1>
        <h2 id="hostname"><%= hostName %></h2>
        <a ng-click="serverCtrl.togglePlay()">Pause</a>
      </header>

      <ul id="searchresults">
        <li ng-repeat="song in serverCtrl.songList track by $index" ng-class="{played: song.played}">
          <img ng-src="{{song.artwork_url}}" />
          <p class="songtitle">{{song.title}}</p>
          <p class="songartist">{{song.artist}}</p>
        </li>
      </ul>

    </main>
    <footer>
      <a href="http://soundcloud.com/"><img src="/images/powered_by_sc_thin.png" /></a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </footer>



  </body>


</html>
