<% include partials/head %>



  <body ng-controller="ServerController as serverCtrl">

    <header>
      <h1 class="minititle">
        Music Server
      </h1>
      <h2 id="hostname"><%= hostName %></h2>
    </header>

    <main>
      <ul>

        <li ng-repeat="song in serverCtrl.songList track by $index">
          <img ng-src="{{song.artwork_url}}" />{{song.artist}} - {{song.title}}
        </li>

      </ul>
    </main>



  </body>


</html>
