<% include partials/head %>


  <header>
    <p id="welcome">
      Listening on the Universal Server.
    </p>
    <p id="serverID">
      <%= hostName %>
    </p>
  </header>


  <body ng-controller="ServerController as serverCtrl">
    <p>
      Up Next:
    </p>
    <ul>

      <li ng-repeat="song in serverCtrl.songList track by $index">
        {{song}}
      </li>

    </ul>




  </body>


</html>
