<!DOCTYPE html>
<html ng-app="musicServer">
  <head>
    <title>Music Server</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>

  <body>
    <header class="col s12 z-depth-2">




    </header>



  </body>



</html>
