html, body {
  height: 100%;
}

main {
  min-height:100%;
  margin-bottom: -45px;
}

header {
  background:black;
  background:rgba(0,0,0,0.7);
}

main:after {
  content:" ";
  display:block;
}

footer, main:after {
  height:35px;
  padding:5px 0;
}

footer {
  background:black;
  background:rgba(0,0,0,0.7);
  width:100%;
}

footer a {
  margin: 0px 12px;
  display:inline-block;
  vertical-align:middle;
}

body {
  text-align:center;
  background:url('/images/headphone_print.jpg');
  background-size: auto 800px;
  background-position:top center;
  background-attachment:fixed;
  color:#cd9e71;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size:3.4em;
  margin: 0px;
  padding: 12px 20px;
}
h2 {
  margin: 0px;
}

.minititle {
  font-size:2em;
}


p {
  font-size: 1.5em;
  margin: 0px 20px;
  padding: 12px 0px;
}

a {
  color:#D5C5B6;
}


a[ng-click]{
  cursor: pointer;
}

form {
  width: 100%;
}

#startbox {
  background:black;
  background: rgba(0,0,0,0.7);
  border-radius:50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  margin: 20px 12px;
}

.serverMessage {
  text-align:center;
  margin: 0 auto;
  display:block;
}

input:not([type=submit]):not([type=image]) {
  background:black;
  background:rgba(0,0,0,0);
  text-align:center;
  font-size:3.7em;
  width: 80%;
  margin:0 auto;
  display:block;
  border: 0px;
  border-bottom: 4px solid black;
  margin-bottom: 18px;
}

#searchbox {
  background:black;
  background:rgba(0,0,0,0.7);
  padding-top:10px;
}

#searchbox input[type=text] {
  font-size:1.5em;
}

.connect {
  width:50%;
}

.soundsearch {
  width:12%;
}
.soundsearch:hover {

}

/* Results Page */

ul {
  list-style:none;
  padding:0px;
}

#searchresults {
  position:relative;
  line-height: 0.9;
  margin: 8px 0px;
}

#searchresults li {
  height: 100px;
  margin: 3px 0px;
  padding: 0px;
  text-align:left;
  position:relative;
  color:black;
  overflow:hidden;
}

#searchresults li > img {
  position:absolute;
  left:0px;
  top:0px;
}

#searchresults a > img {
  position:absolute;
  right:3px;
  bottom:3px;

}

#searchresults p {
  margin:0px;
  margin-left:100px;
  padding: 0px;
}

#searchresults .songtitle {
  font-style:bold;
}

#searchresults .songartist {
  color:#6B6B6B;
}


/* Host Page */

#hostname {
  font-size: 3em;
}


.played {
  filter:blur(1.5px);
}


@media(min-width:406px) {

  #startbox {
    margin: 60px 30px 20px 30px;
  }

  #searchresults {
    width:406px;
    margin-left:auto;
    margin-right:auto;

  }


  body {
  }
}

@media(min-width:500px) {

  #startbox {
    width:441px;
    margin: 60px auto 20px auto;
  }

  .soundsearch {
    width:60px;
  }

  #searchbox input[type=text] {
    width:405px;
  }

  body {
  }

}












