body {
  text-align:center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size:4em;
  margin: 15px 12px;
  margin-top: 30px;
}

.minititle {
  font-size:2em;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
  margin: 12px 20px;
}

a {
  color:black;
}


a[ng-click]{
  cursor: pointer;
}

form {
  width: 100%;
}

.serverMessage {
  text-align:center;
  margin: 0 auto;
  display:block;
}

input:not([type=submit]):not([type=image]) {
  text-align:center;
  font-size:4em;
  width: 80%;
  margin:0 auto;
  display:block;
  border: 0px;
  border-bottom: 4px solid black;
  margin-bottom: 24px;
}

#soundsearch {
  font-size:1.5em;
}

.connect {
  width:40%;
}

.soundsearch {
  width:12%;
}
.soundsearch:hover {

}

#searchresults {
  background-color:yellow;
}

#searchresults li {
  margin: 3px 0px;
  padding: 0px;
}

#searchresults img {

}


footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  margin: 12px 0px;
}

footer a {
  margin: 0px 12px;
}


/* Host Page */

#hostname {
  font-size: 3em;
}

ul {
  list-style:none;
  padding:0px;
}

li {
  padding: 12px 0px;
}













