    <footer>
      <a href="http://soundcloud.com/"><img src="/images/powered_by_sc_thin.png" /></a>
      <a href="/about">About</a>
      <a href="mailto:musicdropme@gmail.com">Contact</a>
    </footer>


  </body>

</html>
