<!DOCTYPE html>

<html ng-app="musicServer">

  <head>
    <title>
      Music Server
    </title>
    <script src="https://connect.soundcloud.com/sdk.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="js/app.js"></script>
  </head>
